/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-repeat: both;
  background: #ccc;
  color: #eee;
  font-size: 18pt;
  font-weight: normal;
  line-height: 30pt;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: 0;
}

body,h1,h2,h3,h4,h5,h6,a {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

div.slide {
  webkit-box-shadow: 0 0 40px #333;
  moz-box-shadow: 0 0 40px #333;
  box-shadow: 0 0 40px #333;
  
  moz-border-radius: 5px;
  webkit-border-radius: 5px;
  border-radius: 5px;
  moz-background-clip: padding;
  webkit-background-clip: padding-box;
  background-clip: padding-box; 
  height: 500px;
  padding: 50px;
  position: relative;
  width: 900px;
  background: #111;
}
div.inactiveslide {
  opacity: 0.2;
}
div.activeslide {
  opacity: 1;
}

div.footer {
  bottom: 20px;
  color: #404040;
  font-size: 26px;
  position: absolute;
  text-align: center;
  width: 100%;
}

pre {
  font-size: 16pt;
  height: 600px;
  letter-spacing: -1px;
  line-height: 20pt;
  overflow: auto;
}
pre:focus {
  outline: 0;
}
div.phone {
  webkit-box-shadow: 0 0 30px #c0c0c0;
  moz-box-shadow: 0 0 30px #c0c0c0;
  box-shadow: 0 0 30px #c0c0c0;
  moz-border-radius: 40px;
  webkit-border-radius: 40px;
  border-radius: 40px;
  moz-background-clip: padding;
  webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: black;
  height: 650px;
  left: 50%;
  margin-left: -190px;
  margin-top: -325px;
  position: absolute;
  top: 50%;
  width: 380px;
}
iframe {
  webkit-box-shadow: 0 0 20px #606060;
  moz-box-shadow: 0 0 20px #606060;
  box-shadow: 0 0 20px #606060;
  height: 480px;
  left: 50%;
  margin-left: -160px;
  margin-top: -248px;
  position: absolute;
  top: 50%;
  width: 320px;
}
strong {
  text-shadow: 1px 0 0 #606060;
}
h1,h2,h3,h4 {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  font-weight: 200;
  padding-bottom: 5px;
  color: #d95b44;
}

h1 {
  font-size: 38pt;
}

h2 {
  font-size: 32pt;
}

h3 {
  font-size: 24pt;
  text-align: left;
  color: #eee;
}

ul {
  padding: 60px;
}

ul li {
  color: #eee;
  margin-bottom: 24px;
  text-align: left;
}

dl {
  padding-top: 20px;
}

dd {
  padding-left: 40px;
  font-weight: 200;
  padding-bottom: 20px;
}

dt {
  font-weight: 500;
}

a {
  color: #75B143;
}

a {
  color: #d95b44;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}

/*use suitable height' spacer to separate rows*/
.spacer-20px, .spacer-30px, .spacer-40px, .spacer-200px {
	width: 100%;
	height: 20px;
	display: block;
	clear: both;
}
.spacer-30px {
	height: 30px !important;
}
.spacer-40px {
	height: 40px !important;
}
.spacer-200px {
	height: 200px !important;
}
.center {
  text-align: center;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}
.clearfix {}
.clearfix:before, .clearfix:after {
display: table;
line-height: 0;
content: "";
}

#page-logo {
  position:fixed;
  top: 20px;
  left: 20px;
  display: none;
}

code { font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }

pre { font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }
.syntax-string { color: orange; }
.syntax-optional { color: #777; }

.slide-icon {
  font-size: 200px;
  color: #171516;
}

.icons-ul {
  list-style-type: none;
}

.price {
  display: table-cell;
  vertical-align: middle;
}

.price-container {
  display: table;
  float: right;
	border-radius: 50%;
	width: 200px;
	height: 200px; 
  background: #d95b44;
  text-align: center;

  font-size: 2em;
}

p {
  padding-left: 70px;
  padding-right: 70px;
}

.footnote {
  font-size: 0.7em;
}

.large {
  font-size: 2em;
}

#tutorial {
    padding-top: 20px;
    margin: auto;
    width: 900px;
    text-align: center;
    color: #111;
}

#tutorial #arrows {
    font-size: 3em;
}