---
layout:   fp
title:    ApiAxle - Free, on-premise, open API management
---

<section id="content" class="clearfix">
  <div id="slider-bg">
    <div class="container">
      <div class="row content-top">
        <div id="slider" class="flexslider">
          <ul class="slides">
            {% include slides.html %}
          </ul>
        </div>

        <!--thumbnails starts-->
        <div class="span12">
          <div id="thumb-slider" class="flexslider">
            <ul class="slides">
              <li>
                <div class="thumb-text clearfix">
                  <i class="icon icon-cogs"></i>
                  <p>ApiAxle</p>
                </div>
              </li>
              <li>
                <div class="thumb-text clearfix">
                  <i class="icon icon-user"></i>
                  <p>For Developers</p>
                </div>
              </li>
              <li>
                <div class="thumb-text clearfix">
                  <i class="icon icon-briefcase"></i>
                  <p>For Businesses</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--slider-bg ends-->

  <div class="spacer-40px"></div>

  <div class="container">
    <!--features starts-->
    <div class="row">
      <div class="span12">
        <h1>Simple API Management and Analytics</h1>
        <ul class="list-3col text-center">
          <li>
            <div class="features-icon icon-bar-chart"></div>
            <h2>Analytics</h2>
            Real-time usage statistics per key and API.<br />
            Stats on key, keyring and API usage.
          <li>
            <div class="features-icon icon-group"></div>
            <h2>Management</h2>
            Create keys and assign to APIs.<br />
            Set per second and daily rate limits.<br />
            Use keyrings to group collections of keys.<br />
            Integrate easily with your current user paradigm.
          <li>
            <div class="features-icon icon-dashboard"></div>
            <h2>Performance</h2>
            Fast, event-based backend.<br />
            On-premise means no cloud hops.
        </ul>
      </div>
    </div>
    <!--features ends-->

    <!--spacer here-->
    <div class="spacer-40px"></div>

    <!--row starts-->
    <div class="row">
        <h1>Powerful Administration API</h1>

        <!--two column list (nested columns) starts-->
        <div class="span6">
            <ul class="list-checkmark">
              <li>Create, modify and delete APIs and Keys</li>
              <li>Grab real time stats</li>
              <li>Simple RESTful interface, integrate with your apps</li>
            </ul>
            <a href="/api.html">Read The Docs &raquo;</a>
        </div>
        <div class="span6">
            <p>
              Here are some libraries you can use to access the API:
            </p>

            <ul>
              <li><strong class="icon-cog"></strong> <a href="https://github.com/stuartquin/node-axle"><b>Node.js</b> client by Stuart Quin</a></li>
              <li><strong class="icon-cog"></strong> <a href="https://github.com/rjohnsondev/go-axle/"><b>Go</b> client by Richard Johnson</a></li>
              <li><strong class="icon-cog"></strong> <a href="https://github.com/fillup/apiaxle-module"><b>PHP</b> client by Phillip Shipley</a></li>
            </ul>

            <div class="spacer-10px"></div>

            <p>
              Want to contribute a library yourself? Send it over and
              we'll send you back a t-shirt!
            </p>
        </div><!-- span6 -->
    </div><!--row ends-->

    <!--spacer here-->
    <div class="spacer-30px"></div>

    <!--box starts-->
    <div class="row">
      <div class="span12">
        <div class="dark-box">
          <h1>Start Using <span class="color">ApiAxle</span> now!</h1>
          <ul class="list-separator">
            <li>Get up and running instantly<span class="separator">|</span></li>
            <li>Everything you need to manage your API <span class="separator">|</span> </li>
            <li><a href="mailto:phil@apiaxle.com">
                <span class="color">Support contracts</span> available</li>
            </a>
          </ul>

          <a class="btn btn-large btn-download" href="/docs/try-it-now/">
            <i class="icon-download"></i>
            Show me how
          </a>
        </div>
      </div>

    <div class="spacer-30px"></div>

      <div class="row">
        <div class="span8 offset2 attribution">
          <h1>Don't just take our word for it</h1>

          <p>
            <i class="icon-quote-left"></i> ApiAxle was the missing
            piece of the puzzle for building our API service; It's
            concise, focussed and has been super nice to work with. I
            think it'll become an essential part of the open source
            landscape. Thanks again for an excellent piece of software! <i class="icon-quote-right"></i>
          </p>
          <div class="attribution-sig pull-right">
            Thorsten Sideboard - <a href="http://developer.openaura.com">OpenAura</a>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- footer starts
================================================== -->
<footer id="footer" class="clearfix">
  <div class="container">
    <!--spacer here-->
    <div class="spacer-30px"></div>

    <!--row starts-->
    <div class="row">
      <!--column two starts-->
      <div class="span6">
        <h5>Latest Documentation</h5>
        <ul class="list-unstyled">
        {% for post in site.posts %}

          {% if post.layout != "presentation" and post.layout != "letter" %}
          <li>{{ post.date | date:"%Y-%m-%d" }} - <a href="{{ post.url }}">{{ post.title }}</a>
          {% endif %}

        {% endfor %}
        </ul>
      </div>
      <!--column two ends-->

      <!--column three starts-->
      <div class="span6">
        <a id="newsletter"><h5>Signup for the newsletter</h5></a>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="http://apiaxle.us6.list-manage.com/subscribe/post?u=690f13d9893fe9e788eed938d&amp;id=14e40b17a3"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required />
          </form>
        </div>
        <hr/>
        <!--End mc_embed_signup-->
        <h5>Get in touch with us:</h5>
        <ul class="list-info">
          <li><strong class="icon-twitter"></strong> <a href="http://twitter.com/apiaxle">@apiaxle</a></li>
          <li><strong class="icon-envelope"></strong> <a href="mailto:support@apiaxle.com">support@apiaxle.com</a></li>
        </ul>
      </div>
      <!--column three ends-->

    </div>
    <!--row ends-->

  </div>
</footer>

<!-- footer ends
================================================== -->
