{% if {{page.email_required}} %}
<script type="text/javascript" src="/js/axle-site.js"></script>
<script>
$(document).ready(function () {
  $('#invalid-email-alert').hide();
  $('#get_started').modal({ keyboard: false });
  $('#email').focus();
});

verifyAndSend = function () {
  email = $( "#email" ).val();

  // if it doesn't look right then show the warning box and clear the
  // email input
  if ( ! /^.+@.+?\..+$/.test( email ) ) {
    $('#invalid-email-alert').show();
    $('#email').val("");
    $('#email').focus();

    // hide the warning anyway
    setTimeout( function () { $('#invalid-email-alert').hide("slow"); }, 3000 );
  }
  else {
    $("#get_started").modal("hide");
  }
}
</script>
{% endif %}

<div id="get_started" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Before we take you further...</h3>
  </div>

  <div id="invalid-email-alert" class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Email address problem</strong> Please enter a valid email address.
  </div>

  <div class="modal-body">
    <p>
      Please fill out your email address and we'll keep
      you up to date with interesting features and security
      information surrounding <span="color">ApiAxle</span>.
    </p>
    <form class="form-inline" id="details_form" method="GET" action="/">
      <p>
        <label for="email">Email:</label><input id="email"
                                                type="email"
                                                name="email" />
      </p>
    </form>
    <p>
      <strong>Note:</strong> We will <b>not</b> use this information
      for spam, relentless marketing or any other nefarious practice.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
            onClick="verifyAndSend()"
            aria-hidden="true">Continue</button>
  </div>
</div>
