<section id="copyright" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>© Copyright 2013</p>

        <!--copyright menu starts-->
        <ul class="copyright-menu">
            <li><a href="/docs.html">Documentation</a></li>
            <li><a href="/about.html">About</a> </li>
        </ul>
        <!--copyright menu ends-->

      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
lloogg_clientid = "2011028029e99e54";
</script>
<script type="text/javascript" src="http://lloogg.com/l.js?c=2011028029e99e54">
</script>
