<section id="header" class="clearfix">
  <div class="container">
    <div class="row">

      <!--logo starts-->
      <div class="span4 logo"> <a class="brand" href="/"><strong class="icon icon-cogs"></strong> ApiAxle</a></div>
      <!--logo ends-->

      <div class="span8 clearfix">

        <!--menu starts-->
        <div id="smoothmenu" class="smoothmenu">
          <ul>
            <li><a href="/docs.html">Documentation</a></li>
            <li><a href="/docs/why-use-apiaxle/">Why use us?</a></li>
            <li><a href="/about.html">About</a> </li>
          </ul>
        </div>
        <!--menu ends-->

        <!--social starts-->
        <ul class="social clearfix">
          <li><a href="http://twitter.com/apiaxle"><img src="/img/icons/social-icon-twitter.png" width="28" height="28" alt="icon"></a></li>
        </ul>
        <!--social ends-->

      </div>
    </div>
  </div>
</section>
