<!--slide one starts-->
<li>
  <div class="row">
    <div class="span6 slide-text">
      <h2>The Open Source <br/>
        API Management Platform</h2>
      <p>ApiAxle is a proxy that sits on your network,
        in front of your API(s) and manages things that you shouldn't
        have to, like rate limiting, authentication and caching. It's
        fast, open and easy to configure.</p>

      <div class="spacer-20px"></div>

      <a class="btn btn-large btn-download" href="#get_started" data-toggle="modal">
        <i class="icon-download "></i>
        Start Using ApiAxle
      </a>
    </div>
    <div class="span6"><img src="img/fp-diagram.png" alt="slide"/></div>
  </div>
</li>

<!--slide two starts-->
<li>
  <div class="row">
    <div class="span6 slide-text">
      <h2>Open and developer friendly</h2>
      <p>
        Read the source. Contribute your changes. Benefit from other's
        contributions.
      </p>
      <p>
        Configure every aspect of your APIs, keys and keyrings from
        the REPL or from the HTTP API.
      </p>

      <div class="spacer-20px"></div>
      <a class="btn btn-large btn-download" href="#get_started" data-toggle="modal">
        <i class="icon-download "></i>
        Install ApiAxle Now
      </a>
    </div>
    <div class="span6"><img src="img/hacker-framed.png" alt="slide"/></div>
  </div>
</li>

<!--slide two starts-->
<li>
  <div class="row">
    <div class="span6 slide-text">
      <h2>Fast, secure and obsessed with analytics</h2>
      <p>
        Use our advanced analytics collection system to derive
        business insights and monitization opportunities.
      </p>

      <div class="spacer-20px"></div>
      <a class="btn btn-large btn-download" href="/docs/why-use-apiaxle/">
        <i class="icon-download "></i>
        Find out more
      </a>
    </div>
    <div class="span6"><img src="img/demo-dash-framed.png" alt="slide"/></div>
  </div>
</li>
