<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head>
<link rel="stylesheet" media="screen" href="/css/raleway/raleway.css"/>
<link rel="stylesheet" media="screen" href="/css/presentation.css"/>

<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
<script src="/js/fathom.min.js" type="text/javascript" ></script>

</head>

<div id="presentation">
  {{ content }}
</div>

<script>
  $(document).ready(function() {
    var fathom = $('#presentation').fathom({
      onActivateSlide: function() {
        var $slide = $(this);
        if ( $slide.prev().length === 0 ) {
          $( "#page-logo" ).hide()
        }
        else {
          $( "#page-logo" ).show()
        }
      }
    });
  })
</script>

<div id="page-logo"><a href="/"><img src="/img/logo-128.png" /></a></div>

</body>
</html>
